// Minimum width for the sort element. Stops weird behavior on wider screens.
$sort-minimum-width: 283px;

.component--job-listing-search {
  background-color: $color-silver-light;
}

// If the job listing search is just before footer it needs to function the same way as unit search.
.layout-main-wrapper > *:last-child .component--job-listing-search:last-child {
  margin-bottom: -115px; // Enough to get the block under the footer.
  padding-bottom: 55px; // Leave enough room between the last card and footer.
}

.job-listing-search__result-actions {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.component--job-listing-search .component__container {
  padding-bottom: $spacing-double;
  padding-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    padding-bottom: $spacing-quadruple;
    padding-top: $spacing-quadruple;
  }
}

.job-listing-search__count-container {
  @include font('lead');
  margin-bottom: $spacing;

  @include breakpoint($breakpoint-l) {
    margin-bottom: 0;
  }

  .job-listing-search__count {
    font-weight: $font-weight-bold;
  }
}

.job-listing-search__sort {
  min-width: $sort-minimum-width;
}

.job-listing-search__result--list {
  margin-top: $spacing-and-half;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-double;
  }
}

.job-search-form {
  margin-bottom: $spacing-double;
}

.job-search-form__title {
  margin-bottom: $spacing-double;
}

.job-search-form__dropdowns__upper {
  @include breakpoint($breakpoint-l) {
    @include flex-gap($spacing-and-half);
    display: flex;
  }
}

// Override default li styles
.job-search-form__dropdown li + li {
  margin-top: 0;
}

.job-search-form__dropdown--upper {
  @include breakpoint($breakpoint-l) {
    width: 50%;
  }
}

.job-search-form__filter {
  margin-bottom: $spacing;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-and-half;
  }
}

// Override some fieldset default styles here
.job-search-form__checkboxes {
  border: none;
  margin-bottom: $spacing;
  padding: 0;

  @include breakpoint($breakpoint-l) {
    display: flex;
  }
}

// Use specific selectors here to override HDS styles
fieldset .job-search-form__checkbox {
  --background-selected: var(--hdbt-color-black);
}

fieldset .job-search-form__checkbox:not(:first-of-type) {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-left: $spacing;
    margin-top: 0;
  }
}

.job-search-form__checkboxes-legend,
.job-search__no-results__heading {
  @include font(h6);
  margin-bottom: $spacing;
}

.job-search-form__selections-container {
  list-style-type: none;
}

// Use a very specific selector here to override hds styles
button.job-search-form__remove-selection-button:not(:disabled) {
  @include tag('interactive--deletable');

  --color-hover-focus: var(--hdbt-text-color);
  color: var(--hdbt-color-black);
}

// Neagate HDS-defined paddings for span-element inside button
.job-search-form__remove-selection-button span {
  padding: 0;
}

// Negate HDS-defined margin for icon inside remove button
.job-search-form__selections-wrapper button.job-search-form__remove-selection-button > div {
  margin-right: 0;
}

.job-search-form__clear-all {
  margin-top: 0;
}

// Need a specific selector to override hds styles
.job-search-form__clear-all .job-search-form__clear-all-button {
  --background-color-hover: transparent;
  --background-color-focus: transparent;
  --background-color-hover-focus: transparent;
  --border-color-hover: var(--hdbt-color-black);
  --border-color-focus: var(--hdbt-color-black);
  --border-color-hover-focus: var(--hdbt-color-black);
  --color: var(--hdbt-color-black);
  --color-hover: var(--hdbt-color-black);
  --color-focus: var(--hdbt-color-black);
  --color-hover-focus: var(--hdbt-color-black);
  --focus-outline-color: var(--hdbt-color-black);
}

.job-search-form__search-monitor {
  margin-bottom: $spacing-double;

  div[role=heading] {
    flex: 0 1 auto;
  }
}

.job-search-form__search-monitor {
  background-color: var(--color-fog-light);
  padding: $spacing-double;
}

.job-search-form__search-monitor__heading {
  margin-top: 0;

  &:focus-visible {
    outline: 2px solid $color-black;
    outline-offset: $spacing-half;
  }
}

.job-search-form__search-monitor__content {
  > p {
    @include font('body');
    margin-top: $spacing-and-half;
  }

  &[aria-hidden='true'] {
    display: none;
  }
}

.job-search-form__search-monitor__content__heading {
  margin-top: $spacing-double;
}

.job-search-form__search-monitor__terms-link {
  @include font('small');

  &:focus-visible {
    outline: 2px solid $color-black;
    outline-offset: $spacing-quarter;
  }
}

// The terms are required but there is no indicator on the label. This is why the '*' is added here.
.job-search-form__search-monitor__terms::after {
  content: '*';
  margin-left: $spacing-quarter;
}

.job-search-form__search-monitor__error {
  margin-top: $spacing-double;

  > div:focus-visible {
    outline: 3px solid $color-black;
    outline-offset: $spacing-half;
  }
}

.job-search__results-stats {
  margin-bottom: $spacing-double;
  margin-left: $spacing;
  margin-right: $spacing;

  @include breakpoint($breakpoint-l) {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }
}
