{#
/**
 * @file
 * Theme override for the job listing node title field.
 *
 * Added variable:
 * - vacancies: The number of open jobs for the job listing.
 *
 * @see field.html.twig
 */
#}
{% if not is_inline %}
  {% include "field.html.twig" %}
{% else %}
<span{{ attributes }}>
  {%- for item in items -%}
    {{ item.content }}{% if vacancies > 1 %} ({{ vacancies }} {{ 'jobs'|t }}){% endif %}
  {%- endfor -%}
</span>
{% endif %}
