{# Set lang attributes if needed #}
{% set content %}
  {% if original_language %}
    <span lang="{{ original_language }}">
  {% endif %}

  {% for item in items %}
    {{ item.content }}
  {% endfor %}

  {% if original_language %}
    </span>
  {% endif %}
{% endset %}

{{ content }}
