<div class="job-listing__salary-class">
  <h2 class="job-listing__salary-class__title">{{ 'Contract area'|t }}</h2>
  <div class="job-listing__salary-class__content">
    {% for item in items %}
      <p>{{ item.content }}</p>
    {% endfor %}
  </div>
</div>
