{% if link_text and link_url %}
  {% set link %}
    <a href="{{ link_url }}">{{ link_text }}</a>
  {% endset %}
{% endif %}

{% include "@hdbt_subtheme/module/helfi_hakuvahti/hakuvahti-action-wrapper.twig" with { message: message, content: link, } %}
