# Schema for the configuration files of the helfi_rekry_content module.
helfi_rekry_content.settings:
  type: config_object
  label: 'Settings'
  mapping:
    helbit_clients:
      label: 'Helbit clients'
      type: sequence
      sequence:
        type: config_object
        mapping:
          client_id:
            type: string
            label: 'Helbit client id'
          base_url:
            type: string
            label: 'Helbit base url'

helfi_rekry_content.job_listings:
  type: config_object
  label: 'Job listings'
  mapping:
    search_page:
      type: string
      label: 'Search page node ID'
    redirect_403_page:
      type: string
      label: 'Redirect 403 page'
    city_description_title:
      type: label
      label: 'City description title'
      translatable: true
    city_description_text:
      type: text
      label: 'City description text'
      translatable: true
