{% block content %}
  <article class="hakuvahti-confirmation">
    <div class="components">
      <p>{{ message }}</p>
      <div class="page-divider"></div>
      {% if link_text and link_url %}
        <a href="{{ link_url }}">{{ link_text }}</a>
      {% endif %}
    </div>
  </article>
{% endblock %}
