{% block content %}
  <article class="hakuvahti-confirmation">
    <div class="">
      <p>{{ paragraph }}</p>
      <div class="page-divider"></div>
      <form method="post" action="{{ action_url }}">
        <button type="submit" class="hds-button hds-button--primary">{{ button_text }}</button>
      </form>
    </div>
  </article>
{% endblock %}
