.hakuvahti-confirmation {
  .components {
    margin-top: $spacing-and-half;
  }

  p {
    @include font('lead');
  }

  p:first-child {
    margin-top: 0;
  }

  .page-divider {
    padding-left: 0;
  }

  .form-submit {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing-quadruple;
    }
  }
}
