{% block paragraph %}
	{% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [ 'component--calculoid-javascript' ],
    }
  %}
		{% block component_content %}
      <link rel="stylesheet" href="https://embed.calculoid.com/styles/main.css" />
      <script src="https://embed.calculoid.com/scripts/combined.min.js"></script>
      <div ng-app="calculoid" ng-controller="CalculoidMainCtrl" ng-init="init({calcId:97095,apiKey:'2bd1291663564ac8c1247',showTitle:0,showDescription:0})" ng-include="load()"></div>
    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
