<link rel="stylesheet" href="https://embed.calculoid.com/styles/main.css" />
<script src="https://embed.calculoid.com/scripts/combined.min.js"></script>
<div ng-app="calculoid" ng-controller="CalculoidMainCtrl" ng-init="init({calcId:95057,apiKey:'1793b4f862a70d09aad19'})" ng-include="load()"></div>
