<div class="job-listing__sidebar">
  <div class="job-listing__image">
    {{ content.field_image }}
  </div>
  {{ content.field_organization_name }}
  {{ content.field_organization_description }}
</div>
