<div class="job-listing__sidebar">
  <div class="job-listing__image">
    {% if content.field_image|render %}
      {{ content.field_image }}
    {% elseif content.organization_default_image|render %}
      {{ content.organization_default_image }}
    {% else %}
      {% include '@hdbt/media/image--card.html.twig' with {content: '' } %}
    {% endif %}
  </div>
  {% if content.content.field_organization|render or content.field_organization_description|render %}
    <div class="job-listing__organization-information">
      <h2 class="job-listing__organization">
        {{ content.field_organization }}
      </h2>
      <div class="job-listing__organization-description">
        {{ content.field_organization_description }}
      </div>
    </div>
  {% endif %}
</div>
