.job-listing__organization-name {
  @include font(body);
  display: flex;
  margin-top: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-and-half;
  }
}

.organization {
  display: flex;
  margin-right: $spacing-half;
  position: relative;

  // The small ball from designs.
  &::after {
    content: ",";
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.job-listing__link {
  margin-top: $spacing;
  width: 100%;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-and-half;
    width: auto;
  }

  &:last-of-type {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing-triple;
    }
  }
}

.job-listing__metadata-wrapper {
  background-color: var(--hdbt-color-palette--secondary);
  margin-top: $spacing;
  padding: $spacing-and-half;
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-double;
  }
}

.job-listing__metadata {
  margin-top: $spacing;
  width: 100%;

  @include breakpoint($breakpoint-m) {
    width: 50%;
  }

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(2) {
    @include breakpoint($breakpoint-m) {
      margin-top: 0;
    }
  }
}

.job-listing__metadata__label {
  @include font(button);
  display: block;

  &::before {
    margin-right: $spacing-half;
  }
}

.job-listing__metadata__content {
  // Icon width + margin between title and icon.
  padding-left: calc(#{$spacing-and-half} + #{$spacing-half});
}

.job-listing__metadata--application-ends .job-listing__metadata__label::before {
  @include pseudo-icon('clock', $spacing-and-half, currentColor);
}

.job-listing__metadata--salary .job-listing__metadata__label::before {
  @include pseudo-icon('glyph-euro', $spacing-and-half, currentColor);
}

.job-listing__metadata--job-duration .job-listing__metadata__label::before {
  // TODO: Missing from hdbt.
  @include pseudo-icon('calendar', $spacing-and-half, currentColor);
}

.job-listing__metadata--address .job-listing__metadata__label::before {
  @include pseudo-icon('location', $spacing-and-half, currentColor);
}

.job-listing__metadata--published .job-listing__metadata__label::before {
  @include pseudo-icon('calendar-clock', $spacing-and-half, currentColor);
}

.job-listing__metadata--job-code .job-listing__metadata__label::before {
  @include pseudo-icon('locate', $spacing-and-half, currentColor);
}

.job-listing__job-description {
  @include font(body);
  margin-top: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-triple;
  }

  p:first-child {
    margin-top: 0;
  }
}

.job-listing__salary-class__content {
  @include font(body);
}

.job-listing__sidebar {
  background-color: var(--hdbt-color-palette--secondary);
}

.job-listing__organization-information {
  padding: $spacing-and-half;
}

.job-listing__image img {
  display: block;
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

.job-listing__organization {
  @include font(h6);
  margin-top: 0;
}

.job-listing__organization-description {
  @include font(small);
  margin-top: $spacing-half;

  p:first-child {
    margin-top: 0;
  }
}

.node--type-job-listing .component--remote-video {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-triple;
  }
}

.node--view-mode-full .content-tags {
  margin-top: $spacing-and-half;
}

.node--view-mode-teaser {
  position: relative;
  padding: $spacing-double;
  background-color: $color-white;
  margin-bottom: $spacing-and-half;
  display: flex;

  .job-listing__container-left {
    width: 70%;
  }

  .job-listing__container-right {
    width: 30%;
  }

  .job-listing__metadata {
    width: 100%;
  }

  .job-listing__title {
    @include font('h4');

    margin-top: 0;
  }

  .job-listing__job-description,
  .content-tags {
    margin-top: $spacing;
  }

  .job-listing__metadata--application-ends {
    margin-bottom: $spacing-and-half;
  }
}
