.job-listing__organization-name {
  @include font(body);
  display: flex;
  margin-top: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-and-half;
  }
}

.organization {
  display: flex;
  margin-right: $spacing-half;
  position: relative;

  // The small ball from designs.
  &::after {
    content: ",";
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.job-listing__link {
  margin-top: $spacing;
  width: 100%;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-and-half;
    width: auto;
  }

  &:last-of-type {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing-triple;
    }
  }
}


.job-listing__job-description {
  @include font(body);
  margin-top: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-triple;
  }

  p:first-child {
    margin-top: 0;
  }
}

.job-listing__salary-class__content {
  @include font(body);
}

.job-listing__sidebar {
  background-color: var(--hdbt-color-palette--secondary);
}

.job-listing__organization-information {
  padding: $spacing-and-half;
}

.job-listing__image img {
  display: block;
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

.job-listing__organization {
  @include font(h6);
  margin-top: 0;
}

.job-listing__organization-description {
  @include font(small);
  margin-top: $spacing-half;

  p:first-child {
    margin-top: 0;
  }
}

.node--type-job-listing .component--remote-video {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-triple;
  }
}

.node--view-mode-full .content-tags {
  margin-top: $spacing-and-half;
}

.node--view-mode-teaser {
  position: relative;
  padding: $spacing-double;
  background-color: $color-white;
  margin-bottom: $spacing-and-half;
  display: flex;
  flex-direction: column;

  &:hover .hel-icon--arrow-right {
    transform: translateX($spacing-quarter);

    @media (prefers-reduced-motion) {
      transform: none;
    }
  }

  @include breakpoint($breakpoint-l) {
    flex-direction: row;
  }

  .job-listing__container-left {
    @include breakpoint($breakpoint-l) {
      width: 70%;
      padding-right: $spacing-double;
    }
  }

  .job-listing__container-right {
    position: relative; 
    padding-right: $spacing-triple;

    @include breakpoint($breakpoint-l) {
      width: 30%;
    }

    .hel-icon {
      position: absolute;
      bottom: 0;
      right: 0;
      width: $spacing-double;
      height: $spacing-double;

      @include hover-link-arrow-transition;
    }
  }

  .job-listing__metadata {
    width: 100%;
  }

  .job-listing__metadata__label {
    display: flex;
    margin-bottom: $spacing-quarter;
  }

  .job-listing__title {
    @include font('h4');

    margin-top: 0;
  }

  .job-listing__title a {
    display: block;
    text-decoration: none;
  
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  
    &::after {
      content: '';
      inset: 0;
      position: absolute;
      z-index: 2;
    }
  }

  .content-tags {
    margin-top: $spacing;
  }

  .job-listing__organization-name {
    margin-top: $spacing-half;
  }

  .job-listing__metadata--application-ends {
    margin-bottom: $spacing-and-half;
    margin-top: $spacing;

    @include breakpoint($breakpoint-l) {
      margin-top: 0;
    }
  }
}
