.job-listing__organization-name {
  @include font(body);
  display: flex;
  margin-top: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-and-half;
  }
}

.organization {
  display: flex;
  margin-right: $spacing-half;
  position: relative;

  // The small ball from designs.
  &::after {
    content: ",";
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.job-listing__link {
  margin-top: $spacing;
  width: 100%;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-and-half;
    width: auto;
  }

  &:last-of-type {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing-triple;
    }
  }
}


.job-listing__job-description {
  @include font(body);
  margin-top: $spacing;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-triple;
  }

  p:first-child {
    margin-top: 0;
  }
}

.job-listing__salary-class__content {
  @include font(body);
}

.job-listing__sidebar {
  background-color: var(--hdbt-color-palette--secondary);
}

.job-listing__organization-information,
.job-listing__city-description {
  padding: $spacing-and-half;
}

.job-listing__image {
  img {
    display: block;
    height: auto;
    max-width: 100%;
    overflow: hidden;
  }

  .image-placeholder {
    padding-bottom: 66.67%; // 3:2 aspect ratio.
  }
}

.job-listing__organization,
.job-listing__city-description-title {
  @include font(h6);
  margin-top: 0;
}

.job-listing__organization-description,
.job-listing__city-description-text {
  @include font(small);
  margin-top: $spacing-half;

  p:first-child {
    margin-top: 0;
  }
}

.node--type-job-listing .component--remote-video {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-triple;
  }
}

.node--type-job-listing.node--view-mode-full .content-tags {
  margin-top: $spacing-and-half;
}
