// Minimum width for the sort element. Stops weird behavior on wider screens.
$sort-minimum-width: 283px;
// Set explicitly to mirror adjacent dropdown styles (hds-defined).
$monitor-button-max-width: 420px;
// Monitor button min width on larger screens.
$monitor-button-min-width: 288px;
// Dialog control buttons max width (from sketches).
$monitor-control-max-width: 200px;

.component--job-listing-search {
  background-color: $color-black-5;
}

// If the job listing search is just before footer it needs to function the same way as unit search.
.layout-main-wrapper > *:last-child .component--job-listing-search:last-child {
  margin-bottom: -115px; // Enough to get the block under the footer.
  padding-bottom: 55px; // Leave enough room between the last card and footer.
}

.job-listing-search__result-actions {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.component--job-listing-search .component__container {
  padding-bottom: $spacing-double;
  padding-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    padding-bottom: $spacing-quadruple;
    padding-top: $spacing-quadruple;
  }
}

.job-listing-search__sort {
  min-width: $sort-minimum-width;
}

.job-listing-search__result--list {
  margin-top: $spacing-and-half;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-double;
  }
}

.job-search-form {
  margin-bottom: $spacing-double;
}

.job-search-form__title {
  margin-bottom: $spacing-double;
}

.job-search-form__dropdowns__upper {
  @include breakpoint($breakpoint-l) {
    @include flex-gap($spacing-and-half);
    display: flex;
  }
}

// Override default li styles
.job-search-form__dropdown li + li {
  margin-top: 0;
}

.job-search-form__dropdown--upper {
  @include breakpoint($breakpoint-l) {
    width: 50%;
  }

  .job-search-form__dropdown {
    // HDS has 420px max-width set for selects. This is OK when the form is limited to 860px width but not here.
    max-width: unset;
  }
}

.job-search-form__filter {
  margin-bottom: $spacing;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-and-half;
  }
}

// Override some fieldset default styles here
.job-search-form__checkboxes {
  border: none;
  margin-bottom: $spacing;
  padding: 0;

  @include breakpoint($breakpoint-l) {
    display: flex;
  }
}

// Use specific selectors here to override HDS styles
fieldset .job-search-form__checkbox {
  --background-selected: var(--hdbt-color-black);
}

fieldset .job-search-form__checkbox:not(:first-of-type) {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-left: $spacing;
    margin-top: 0;
  }
}

.job-search-form__checkboxes-legend,
.job-search__no-results__heading {
  @include font(h6);
  margin-bottom: $spacing;
}

.job-search-form__selections-container {
  list-style-type: none;
}

.job-search-form__search-monitor__content .job-search-form__search-monitor__heading {
  @include font(h4);
}

.job-search-form__search-monitor {
  margin-bottom: $spacing-double;

  > p, > section:not(.job-search-form__search-monitor__no-selections) {
    @include font('body');
    margin-top: $spacing-and-half;
  }

  > a {
    display: block;
    margin-top: $spacing-and-half;
  }
}

.job-search-form__search-monitor__selections-heading {
  @include font(small);
  font-weight: $font-weight-medium;
  line-height: $lineheight-l;
  margin-top: $spacing-double;
}

.job-search-form__search-monitor__no-selections,
.job-search-form__search-monitor__selection-tags {
  margin-top: $spacing-quarter;
}

.job-search-form__search-monitor__buttons-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: $spacing;
  margin-top: $spacing;

  > .job-search-form__search-monitor__submit-button,
  > .job-search-form__search-monitor__cancel-button {
    margin-bottom: 0;
    margin-top: $spacing;
    max-width: none;
    width: 100%;

    @include breakpoint($breakpoint-l) {
      max-width: $monitor-control-max-width;
      width: auto;
    }
  }

  > .job-search-form__search-monitor__cancel-button {
    width: 100%;
  }
}

.hdbt-search--react__result-top-area-item button.job-search-form__search-monitor__button {
  max-width: $monitor-button-max-width;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-half;
    max-width: unset;
    min-width: $monitor-button-min-width;
    width: auto;
  }
}


.job-search-form__search-monitor__terms-link {
  @include font('small');

  &:focus-visible {
    outline: 2px solid $color-black;
    outline-offset: $spacing-quarter;
  }
}

.job-search-form__search-monitor__error {
  margin-top: $spacing-double;

  > div:focus-visible {
    outline: 3px solid $color-black;
    outline-offset: $spacing-half;
  }
}
